<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
      th:replace="~{base::Layout(~{::section})}">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <style>
            .portada-img {
                height: 350px;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        </style>
    </head>

    <body>
        <section>

            <!-- Imagen fija de portada -->
            <div class="w-100">
                <img src="img/MI_NUEVA_IMAGEN.jpg" class="portada-img d-block w-100" alt="Portada">
            </div>
            <!-- End Slider -->


            <!-- Start Category Module -->
            <div class="container mb-5">
                <p class="text-co fs-4 text-center">Categorías</p>

                <div class="row justify-content-center">

                    <!-- FLORES -->
                    <div class="col-md-2">
                        <a th:href="@{/productos(categoriaId=1)}" style="text-decoration:none; color:inherit;">
                            <div class="card rounded-circle">
                                <div class="card-body text-center">
                                    <img src="img/categorias/Flores6.jpg" width="65%" height="140px">
                                    <p>Flores</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- GLOBOS -->
                    <div class="col-md-2">
                        <a th:href="@{/productos(categoriaId=2)}" style="text-decoration:none; color:inherit;">
                            <div class="card rounded-circle">
                                <div class="card-body text-center">
                                    <img src="img/categorias/Globos7.jpg" width="65%" height="140px">
                                    <p>Globos</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- PELUCHES -->
                    <div class="col-md-2">
                        <a th:href="@{/productos(categoriaId=3)}" style="text-decoration:none; color:inherit;">
                            <div class="card rounded-circle">
                                <div class="card-body text-center">
                                    <img src="img/categorias/Peluches8.jpg" width="65%" height="140px">
                                    <p>Peluches</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- SUCULENTAS -->
                    <div class="col-md-2">
                        <a th:href="@{/productos(categoriaId=4)}" style="text-decoration:none; color:inherit;">
                            <div class="card rounded-circle">
                                <div class="card-body text-center">
                                    <img src="img/categorias/Suculentas9.jpg" width="65%" height="140px">
                                    <p>Suculentas</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- TARJETAS -->
                    <div class="col-md-2">
                        <a th:href="@{/productos(categoriaId=5)}" style="text-decoration:none; color:inherit;">
                            <div class="card rounded-circle">
                                <div class="card-body text-center">
                                    <img src="img/categorias/Tarjetas.jpg" width="65%" height="140px">
                                    <p>Tarjetas</p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
            <!-- End Category Module -->


            <!-- Start Latest Product Module -->
            <div class="container-fluid bg-light p-3 mt-5">
                <div class="row">
                    <p class="text-center fs-4">Nuevos Productos</p>

                    <div class="col-md-3">
                        <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                            <div class="card-body text-center">
                                <img src="img/productos/Begonia.jpg" width="65%" height="140px">
                                <p class="text-center">Begonia</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                            <div class="card-body text-center">
                                <img src="img/productos/Donkey.jpg" width="65%" height="140px">
                                <p class="text-center">Sedum Morganianum</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End Latest Product Module -->

        </section>
    </body>
</html>